body {
background-color: rgb(150, 147, 147);
margin: 0px;
}

* {
    box-sizing: border-box;
}

.box {
    height: 100px;
    width: 250px;
    padding: 2px;
    /* margin: 10px; */
    border: 2px solid green;
    background-color: white;
    display: inline-block;
    font-size: 14px;
}

#boxes {
    font-size: 0px;
    position: relative;
}

.in-block {
    display: inline-block;
}

#the-box {
    position: absolute;
    background-color: darkgreen;
    top: 10px;
    right: 20px;
    z-index: -1;
}

.outer {
    height: 400px;
    width: 400px;
    background-color: black;
    position: relative;
}
.middle {
    height: 300px;
    width: 300px;
    background-color: green;
}
.inner {
    height: 50px;
    width: 50px;
    background-color: red;
    position: absolute;
    right: 5px;
    bottom: 10px;
}